.pc-only{
    display: none;


}

body{
    
}

/* Header */

Header {
    width: 100%;
    padding: 23px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F7FFEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


Header>.Logo {
    margin-top: 5px;
}



/* Side-Gnb */

.naviation {
    position: fixed;
    top: 10px;
    right: 20px;
    width: 120px;
    height: 60px;
    background: #ffff;
    border-radius: 30px;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    transition: height 0.5s, width 0.5s;
    transition-delay: 0s, 0.75s;
    overflow: hidden;
    z-index: 999;
}

.naviation.active {
    width: 300px;
    height: 400px;
    transition: width 0.5s, height 0.5s;
    transition-delay: 0s, 0.75s;
}

.naviation .userBox {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #ffff;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.naviation.active .userBox {
    width: calc(100% - 60px);
    transition-delay: 0s;
}

.naviation .userBox .username {
    white-space: nowrap;
    color: #555;
    font-size: 1.1em;
}

.naviation .userBox .imgBox {
    position: relative;
    min-width: 60px;
    height: 60px;
    overflow: hidden;
    background-color: #000;
    border-radius: 50px;
    border: 10px solid #ffff;
}

.naviation .userBox .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.naviation .menuToggle {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.naviation .menuToggle::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 2px;
    background: #555;
    transform: translateY(-10px);
    box-shadow: 0 10px #555;
    transition: 0.5s;
}

.naviation .menuToggle::after {
    content: '';
    position: absolute;
    width: 32px;
    height: 2px;
    background: #555;
    transform: translateY(10px);
    transition: 0.5s;
}

.naviation.active .menuToggle::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0px #555;

}

.naviation.active .menuToggle::after {
    transform: translateY(0px) rotate(-45deg);
}

.menu{
    position: absolute;
    width: 100%;
    height: calc(100% - 60);
    margin-top: 80px;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.menu li{
    list-style: none;
}

.menu li a{
    display: flex;
    align-items: center;
    margin: 25px 0;
    font-size: 1.5em;
    gap: 10px;
    text-decoration: none;
    color: #555;
}

.menu li a:hover{
    color: #638E18;
}

.menu li a ion-icon{
    font-size: 1.5em;
}

/* 섹션-1 */


#WB-section-01 {
    margin: 0 auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.Work-title > h2{
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}

.Work-title .wb-work-underbar {
    width: 100%;
    border: 5px solid #638E18;
    margin-top: 50px;
    margin-bottom: 50px;
}

#WB-section-02 {
    margin: 0 auto;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 150px;
    padding-bottom: 150px;
    /* outline: 1px solid red; */
    background-color: var(--bg-color);
}

.row-1{
    margin-bottom: 50px;
}

.row-1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col > a > img {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
}








#Footer{
    width: 100%;
    /* height: 100px; */
    /* outline: 1px solid red; */
    background-color: #3E3E3E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 33px;
    padding-bottom: 33px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
    text-align: center;
}

.f-address ul li{
    display: block;
    color: #fff;
    font-weight: 400;
    font-size: 10px;
    text-align: left;
}

.f-logo > img {
    width: 80%;
}

.f-line{
    /* margin-right: 10px;
    margin-left: 10px; */
}