.pc-only{
    display: none;
}

/* Header */

Header {
    width: 100%;
    padding: 23px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F7FFEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


Header>.Logo {
    margin-top: 5px;
}

/* Side-Gnb */

.naviation {
    position: fixed;
    top: 10px;
    right: 20px;
    width: 120px;
    height: 60px;
    background: #ffff;
    border-radius: 30px;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    transition: height 0.5s, width 0.5s;
    transition-delay: 0s, 0.75s;
    overflow: hidden;
    z-index: 999;
}

.naviation.active {
    width: 300px;
    height: 400px;
    transition: width 0.5s, height 0.5s;
    transition-delay: 0s, 0.75s;
}

.naviation .userBox {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #ffff;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.naviation.active .userBox {
    width: calc(100% - 60px);
    transition-delay: 0s;
}

.naviation .userBox .username {
    white-space: nowrap;
    color: #555;
    font-size: 1.1em;
}

.naviation .userBox .imgBox {
    position: relative;
    min-width: 60px;
    height: 60px;
    overflow: hidden;
    background-color: #000;
    border-radius: 50px;
    border: 10px solid #ffff;
}

.naviation .userBox .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.naviation .menuToggle {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.naviation .menuToggle::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 2px;
    background: #555;
    transform: translateY(-10px);
    box-shadow: 0 10px #555;
    transition: 0.5s;
}

.naviation .menuToggle::after {
    content: '';
    position: absolute;
    width: 32px;
    height: 2px;
    background: #555;
    transform: translateY(10px);
    transition: 0.5s;
}

.naviation.active .menuToggle::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0px #555;

}

.naviation.active .menuToggle::after {
    transform: translateY(0px) rotate(-45deg);
}

.menu{
    position: absolute;
    width: 100%;
    height: calc(100% - 60);
    margin-top: 80px;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.menu li{
    list-style: none;
}

.menu li a{
    display: flex;
    align-items: center;
    margin: 25px 0;
    font-size: 1.5em;
    gap: 10px;
    text-decoration: none;
    color: #555;
}

.menu li a:hover{
    color: #638E18;
}

.menu li a ion-icon{
    font-size: 1.5em;
}

/* Intro */

#Intro {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 5px;
    width: 100%;
    height: 500px;
    background-color: #638E18;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    
}

.i-img-group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40%;
    /* outline: 1px solid red; */
}


.i-img-group  img:first-child{
    margin-right: 10px;
}

.i-title-container {
    width: 100%;
 /* margin-bottom: 230px; */
}


.i-title-container .sub-title-img {
    margin-left: 210px;
}

.i-title-container>h1 {
    font-weight: 700;
    font-size: 45px;
    color: #fff;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.i-title-container>h2 {
    font-weight: 400;
    font-size: 25px;
    color: #fff;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
}

.down-scroll-btn {
    /* bottom: 0; */
    margin-top: 30px;
    margin-bottom: 30px;
    
}

/* About */
#contents {
    /* overflow-x: auto; */
}


#About {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}

#A-section-01 {
    padding-top: 50px;
    text-align: center;
}

.plant-icon {
    margin-top: 25px;
}

#A-section-01 .introduce-text-group {
    margin-bottom: 25px;
}

#A-section-01 .introduce-text-group > h2 {
    font-weight: 500;
    font-size: 18px;
    margin-left: 10px;
}

.green-text {
    color: #638E18;
}

#A-section-02 {
    padding-bottom: 50px;
}

.A-info-container {
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    /* padding-top: 35px; */
    /* padding-bottom: 35px; */
}

.A-info-container p {
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 21px;
}

.a-e-2 {
    margin-left: 48px;
    /* outline: 1px solid red; */
}

.A-info-container p .p-normal-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-left: 10px;
}

.a-green-text {
    color: #638E18;
    font-weight: 500;
    font-size: 35px;
    line-height: 51px;
    margin-bottom: 26px;
    margin-top: 26px;
}

.p-snsgroup {
    text-align: center;
}

.p-snsgroup>ul>li {
    vertical-align: middle;
    display: inline-block
}

.p-snsgroup>ul>li:nth-child(2) {
    margin-left: 50px;
    margin-right: 50px;
}

.s-info-group .s-g-1,
.s-g-2,
.s-g-3,
.s-g-4 {
    display: flex;
    
}

.s-info-group .s-g-1 .p-normal-text,
.s-g-2 .p-normal-text,
.s-g-3 .p-normal-text,
.s-g-4 .p-normal-text {
    margin-left: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

/* Work */
#Work{
    margin: 0 auto;
    width: 100%;
    /* height: 749px; */
    padding-left: 20px;
    padding-right: 20px;
}

#W-section-01 {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 50px;
  
}


.work-title-text{
    font-weight: 500;
    font-size: 50px;
    line-height: 72px;
   margin-bottom: 30px;
   text-align: center;
   padding-left: 20px;
   padding-right: 20px;
}

.work-title-underbar{
    border: 5px solid #638E18;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.row {
    
    display: block;
    text-align: center;
}

.box-col{
    /* outline: 1px solid red; */
    padding-left: 20px;
    padding-right: 20px;
}


.box-col > a > img{
    /* outline: 1px solid red; */
 width: 100%;
}


.box-col:nth-child(2){
    /* margin-right: 42px;
    margin-left: 42px; */
}

.box-button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    width: 215px;
    height: 49px;
    background-color: #638E18;
    border-radius: 30px;
}

#Footer{
    width: 100%;
    /* height: 100px; */
    /* outline: 1px solid red; */
    background-color: #3E3E3E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 33px;
    padding-bottom: 33px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    text-align: center;
}

.f-address ul li{
    display: block;
    color: #fff;
    font-weight: 400;
    font-size: 10px;
    text-align: left;
}

.f-logo > img {
    width: 80%;
}

.f-line{
    /* margin-right: 10px;
    margin-left: 10px; */
}
